<a href="https://colab.research.google.com/github/tmarghotti/Codigo-da-S.A-senai/blob/main/notebooks/funcionadios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üìù Funcion√°rios

Neste exerc√≠cio, voc√™ vai praticar Pandas seguindo o modelo do tutorial dos alunos. Use este notebook para escrever seu c√≥digo e testar as respostas.

## Arquivo base
O CSV `funcionarios.csv` cont√©m os seguintes dados:

| Nome | Idade | Salario |
|------|-------|---------|
| Paula | 25 | 3200 |
| Rafael | 30 | 4500 |
| Mariana | 28 | 3800 |
| Bruno | 35 | 5000 |
| Let√≠cia | 22 | 2800 |

In [1]:
# 1Ô∏è‚É£ Importando Pandas e lendo o CSV
import pandas as pd

# URL raw do CSV no GitHub
url = "https://raw.githubusercontent.com/lukas-senai/pandas-tutorial/main/assets/funcionarios.csv"

# Ler o CSV
df = pd.read_csv(url)

# Mostrar o DataFrame
print(df)

      Nome  Idade  Salario
0    Paula     25     3200
1   Rafael     30     4500
2  Mariana     28     3800
3    Bruno     35     5000
4  Let√≠cia     22     2800

## 2Ô∏è‚É£ Sele√ß√£o de colunas
- Mostrar apenas a coluna `Nome`
- Mostrar as colunas `Nome` e `Salario`

In [3]:
df[["Nome","Salario"]]

      Nome  Salario
0    Paula     3200
1   Rafael     4500
2  Mariana     3800
3    Bruno     5000
4  Let√≠cia     2800

## 3Ô∏è‚É£ Filtrando informa√ß√µes
- Funcion√°rios com sal√°rio >= 4000
- Funcion√°rios com idade < 30

In [8]:
funcionarios_salario_4000 = df[df["Salario"] >= 4000]
idade = df[df["Idade"] < 30]
print(funcionarios_salario_4000)
print(idade)

     Nome  Idade  Salario
1  Rafael     30     4500
3   Bruno     35     5000
      Nome  Idade  Salario
0    Paula     25     3200
2  Mariana     28     3800
4  Let√≠cia     22     2800

## 4Ô∏è‚É£ Estat√≠sticas b√°sicas
- Calcular a m√©dia salarial
- Descobrir o maior e menor sal√°rio
- Contar quantos funcion√°rios t√™m idade >= 30

In [9]:
calcular_salario_medio = df["Salario"].mean()
print(calcular_salario_medio)
descobrir_maior_salario = df["Salario"].max()
print(descobrir_maior_salario)
descobrir_menor_salario = df["Salario"].min()
print(descobrir_menor_salario)
contar = df[df["Idade"] >= 30]
print(contar)

3860.0
5000
2800
     Nome  Idade  Salario
1  Rafael     30     4500
3   Bruno     35     5000

## 5Ô∏è‚É£ Criando nova coluna: Faixa salarial
- Adicione uma coluna `Faixa` com valor `Alta` se sal√°rio >= 4000 e `Baixa` caso contr√°rio

In [11]:
df["Faixa"] = df["Salario"].apply(lambda x: "Alta" if x >= 4000 else "Baixa")
print(df)

      Nome  Idade  Salario  Faixa
0    Paula     25     3200  Baixa
1   Rafael     30     4500   Alta
2  Mariana     28     3800  Baixa
3    Bruno     35     5000   Alta
4  Let√≠cia     22     2800  Baixa

## 6Ô∏è‚É£ Ordenando dados
- Ordenar por sal√°rio do maior para o menor
- Ordenar por nome em ordem alfab√©tica

In [ ]:
ordenar_salario = df.sort_values(by="Salario", ascending=False)
print(ordenar_salario)
ordenar_nome = df.sort_values(by="Nome")
print(ordenar_nome)

## 7Ô∏è‚É£ Exportando resultados
- Salve o DataFrame em um arquivo chamado `relatorio_funcionarios.csv`

In [12]:
salve = df.to_csv("relatorio_funcionarios.csv", index=False)

## 8Ô∏è‚É£ M√©dia por faixa salarial
- Calcule a m√©dia salarial para os funcion√°rios da faixa `Alta`
- Calcule a m√©dia salarial para os funcion√°rios da faixa `Baixa`

In [ ]:
media_salarial_alta = df[df["Faixa"] == "Alta"]["Salario"].mean()
media_salarial_baixa = df[df["Faixa"] == "Baixa"]["Salario"].mean()